* {
  box-sizing: border-box;
}

body {
  /* height, display */
  /* margin: 0; */
  background-color: lightgrey;
}

.game-container {
  height: 600px;
  width: 300px;
  position: absolute;
  background-color: red;
}

.sky {
  height: 600px;
  width: 300px;
  position: absolute;
  background-color: gray;
}

.ship {
  height: 50px;
  width: 50px;
  background-color: yellow;
  position: absolute;
  left: 130px;
  bottom: 100px;
}

.obstacle {
  height: 26px;
  width: 26px;
  background-color: darkgreen;
  position: absolute;
}

.game-over {
  left: 65px;
  bottom: 330px;
  height: 100px;
  color: black;
  position: absolute;
  font-size: 30px;
}

.replay {
  left: 120px;
  bottom: 350px;
  color: black;
  position: absolute;
  font-size: 16px;
}

.replay:hover {
  color: blue;
}