* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.game-container {
  left: 38%;
  height: 600px;
  width: 300px;
  position: absolute;
  background-color: red;
}

.sky {
  height: 600px;
  width: 300px;
  position: absolute;
  background-image: linear-gradient(darkblue, lightblue);
}

.ship {
  height: 50px;
  width: 50px;
  background-image: url('smallship-scaled.png');
  position: absolute;
  left: 130px;
  bottom: 100px;
}

.obstacle {
  height: 26px;
  width: 26px;
  background-image: url('asteroid-scaled.png');
  position: absolute;
}

.game-over {
  left: 65px;
  bottom: 330px;
  height: 100px;
  color: black;
  position: absolute;
  font-size: 30px;
}

.replay {
  left: 120px;
  bottom: 350px;
  color: black;
  position: absolute;
  font-size: 16px;
}

.replay:hover {
  color: white;
  cursor: pointer;
}

.title {
  color: white;
  padding-top: 10px;
  padding-left: 38%;
}